/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.bfRow { 
     float:left; 
     display:block;
     width:100%;
}

.bfImage {
     float:left;
     width:33%;
}

.bfImage img { 
    margin:16px 0px 0px 0px; 
    padding-right:32px;
}

.bfTextLine {
     width:66%;
     float:left;
}

.bfTitle {
     float:left;
}

.bfDate {
     float:left;
     color:#666;
     font-style: italic;
}

#bfPanelContainer {     
  float:left;
  width:100%;
  display:block;
  clear:both;
}

@media (min-width: 576px) {  
     .bfPanel {     
        float:left;
        width:100%;
        padding:16px;
        display:block;
     }
}

@media (min-width: 768px) {  
     .bfPanel {     
        float:left;
        width:50%;
        padding:24px;
        display:block;
     }
     .cl1 { clear:left; }
}

